.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.footerContainer{
    background-color: #EDE7DC;
    display: flex;
    align-items: center;
    justify-content: center;
}