@import './variables';

.mainDiv{
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    align-items: center;
    gap: 3rem;

    .formDiv{
        display: flex;
        margin-top: 2rem;
        
        form{
            display: flex;
            gap: 10px;
            align-items: center;

            select{
                padding: 0.25rem;
                border: 1px solid $gray;
                border-radius: 4px;
                outline: none;
                cursor: pointer;

                &:hover{
                    background-color: $dusty-rose;
                    color: white;
                }

                &:focus{
                    background-color: $dusty-rose;
                    color: white;
                }
            }

            .inputGroup{
                display: flex;
                align-items: center;
                position: relative;

                input{
                    border-radius: 4px;
                    border: 1px solid $gray;
                    padding: 0.25rem;
                    padding-left: 0.50rem;
                    outline: none;

                    &:hover{
                        border: 1px solid $dusty-rose;
                    }

                    &:focus{
                        border: 1px solid $dusty-rose;
                    }
                }
    
                button{
                    position: absolute;
                    border-radius: 4px;
                    right: -50px;
                    border: 1px solid $gray;
                    padding: 0.25rem;
                    background-color: $gray;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                    letter-spacing: 1px;

                    &:hover{
                        background-color: $dusty-rose;
                    }
                }
            }


        }
    }
}